<div class="main-div">
  <% if has_family %>
    <div class="page-header">
      <h3>Your group</h3>
    </div>








  <% else %>



    <div class="page-header">
      <h6 class="text-danger">You are not a member of the group</h6>
      <h3>Create a new group or join!</h3>
    </div>

    <form class="my-form" action="../base/new_family" method="get">
      <%= my_input_tag("Group name", "name", "text", "") %>
      <%= my_input_tag("Connect code", "connect", "text", "") %>
      <%= my_toggle_tag(toggle_name: "Action", name_one: "Create new", name_two: "To join another", toggle_name_html: "my_action")  %>
      <input type="submit" class="form-control btn btn-primary gradient" value="Run the selected" id="submit_new_family">
    </form>




  <% end %>
</div>