<div class='page-header'>
<h3>The transaction table</h3>
</div>


  <form action="" method="get" class = "my-form">
    <div class="btn-details">Selection settings
      <span class="icon-nav down"><%= octicon "triangle-down" %></span><span class="icon-nav up"><%= octicon "triangle-up" %></span>
    </div>
    <div class="details">

    input_tags



    </div>
  </form>

<div class="table-responsive">
<table class="table table-hover table-bordered">



</table>

</div>