<div class="page-header">
  <%= link_to families_path, class: 'btn btn-outline-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @family, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing family</h1>
</div>

<%= render 'form' %>
