$ ->


  $form = $(".update-table")
  $.ajax
    url: "../base/update_table",
    data: $form.serialize(),
    dataType: "json",
    type: "GET",
    success: (data) ->
      console.log data
      if data[0] != undefined
        n = data[0].size
        for i in [0..n]
          $(".main-table").trigger("update")
          console.log("iteration #{i}")
          tr = data[i]
          if tr.sign == false
            tr_sign = "table-success"
          else
            tr_sign = "table-warning"
          $(".main-table tbody").append("<tr class = '#{tr_sign}' id='prepend'><td>#{tr.sum}</td><td>#{tr.reason}</td><td>#{tr.user}</td><td>#{tr.description}</td><td>#{tr.date}</td><td><button id='t#{tr.id}' class = 'delete-transaction btn btn-outline-danger'><span class='icon-nav'>X</span></button></td></tr>")
          console.log tr.sign
      else
        console.log "date[0] - undefined"
        $(".main-table tbody").append("<tr><th colspan='6' class='no-tran'>No transactions</th></tr>")





  $(".update-table input, select").change (e) ->
    e.preventDefault()
    $.ajax
      url: "../base/update_table",
      data: $form.serialize(),
      dataType: "json",
      type: "GET",
      success: (data) ->
        $(".main-table tbody").empty()
        if data[0] != undefined
          n = data[0].size
          for i in [0..n]
            $(".main-table").trigger("update")
            console.log("iteration #{i}")
            tr = data[i]
            if tr.sign == false
              tr_sign = "table-success"
            else
              tr_sign = "table-warning"
            $(".main-table tbody").append("<tr class = '#{tr_sign}' id='prepend'><td>#{tr.sum}</td><td>#{tr.reason}</td><td>#{tr.user}</td><td>#{tr.description}</td><td>#{tr.date}</td><td><button id='t#{tr.id}' class = 'delete-transaction btn btn-outline-danger'><span class='icon-nav'>X</span></button></td></tr>")
            console.log tr.sign
        else
          console.log "date[0] - undefined"
          $(".main-table tbody").append("<tr><th colspan='6' class='no-tran'>No transactions</th></tr>")