<div class="page-header">
  <%= link_to destinations_path, class: 'btn btn-outline-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New destination</h1>
</div>

<%= render 'form' %>
