
$width-svg: 30px;
$heigth-svg: 30px;
$bg-icon: #ced4da;


body {

  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
      margin-bottom: 0;
    }
  }

  span.icon svg {
    width: $width-svg;
    height: $heigth-svg;
  }

  h2 svg {
    width: $width-svg;
    height: $heigth-svg;
    margin-bottom: 4px;
  }

  span.icon {
    margin: 0 auto;
    padding: 4px;
    top:4px;
    background-color: $bg-icon;
    border-bottom-left-radius: 3px;
    border-top-left-radius: .25rem;
  }

  .page-header {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;

  }

  @media all and(min-width: 1080px) {
    .jumbotron {
      max-width: 500px;
      margin: 0 auto;
    }
  }

}