@import "css/bootstrap"
$width-svg: 25px
$heigth-svg: 25px
$bg-icon: #ced4da

$my-gray: rgba(0, 0, 0, 0.5)
$my-black-gray: rgba(0, 0, 0, 0.7)
$my-gray-nav: rgba(0, 0, 0, 0.15)

$my-brand-primary: #007bff
$my-black-brand-primary: darken($my-brand-primary, 15%)

$my-bg-black-brand-primary: darken($my-brand-primary, 30%)

$jumbotron-color: #e9ecef

$my-brand-danger: #dc3545
$my-black-brand-danger: darken($my-brand-danger, 10%)

$my-brand-warning: #ffc107
$my-black-brand-warning: darken($my-brand-warning, 5%)

$my-brand-success: #28a745
$my-black-brand-success: darken($my-brand-success, 10%)

$brand-text-success: lighten(#155724, 20%)
@font-face
  font-family: benton-sans
  src: local("benton-sans"), font_url("bsl.otf")

@font-face
  font-family: herald-gotic
  src: local("helrald-gotic"), font_url("hgb.ttf")

html
  height: 100%

.before-login
  background-color: $my-bg-black-brand-primary
  background-image: -webkit-linear-gradient(right top, rgba(159, 88, 150, 0) 0, lighten ($my-black-brand-primary, 10%) 100%) !important

body
  //background-color: #f1f1f1

  nav
    .nav-link
      color: $my-black-brand-primary !important
    .navbar-brand
      color: $my-black-brand-primary !important

    border-bottom: 3px solid
    border-image: -webkit-linear-gradient(right top, rgba(43,214,255,0.7) 0%, $my-black-brand-primary  100%)
    border-image-slice: 1

    .navbar-toogler-icon

    *
      font-weight: 800
    .logo-icon svg
      width: 30px
      height: 30px
      fill: $my-black-brand-primary
      margin-bottom: 9px


  height: 100%
  font-family: benton-sans, Sans-Serif

  .logo
    text-align: center
    margin-top: 30px
    margin-bottom: 20px
    font-size: 60px
    letter-spacing: .15em
    font-family: herald-gotic
    color: white
    .logo-icon svg
      width: 60px
      height: 60px
      margin-bottom: 17px
      fill: white

  .little-logo
    font-size: 30px

  .jumbotron-footer
    margin-top: 40px
    text-align: center
    padding-top: 10px
    border-top: solid 1px lighten($my-brand-primary, 30%)

  .octicon
    width: 16px
    height: 16px

  #error_explanation
    color: $my-brand-danger !important
    h2
      font-size: 20px !important

  .my-brand
    font-family: herald-gotic
    font-weight: 800
    letter-spacing: .15em
    font-size: 30px
    color: $my-black-brand-primary

  @media all and (max-width: 991px)
    .nav-link

      border-top: 1px solid lighten($my-gray, 90%)
    .self
      border-top: 2px solid lighten($my-brand-primary, 30%)

  .alert
    margin-top: 10px
    margin-bottom: 10px

  .you
    font-weight: 900 !important

  .no-hover:hover

  .icon-nav
    svg
      margin-bottom: 4px
      fill: $my-black-brand-primary
  select
    border-color: $my-brand-primary !important
    font-family: Sans-Serif
    font-size: 16px
  input[type="text"], input[type="number"], input[type="password"], input[type="checkbox"]
    border-color: $my-brand-primary !important
    font-size: 16px !important
    font-family: Sans-Serif

  .text-primary.gradient
    background-image: -webkit-linear-gradient(right top, $my-brand-primary 0%,  $my-black-brand-primary 100%) !important
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

  .text-danger.gradient
    background-image: -webkit-linear-gradient(right top, $my-brand-danger 0%,  $my-black-brand-danger 100%) !important
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

  .bg-primary.gradient, .btn-primary.gradient, .alert-primary.gradient
    background-image: -webkit-linear-gradient(right top, $my-brand-primary 0%,  $my-black-brand-primary 100%) !important

  .bg-danger.gradient, .btn-danger.gradient, .alert-danger.gradient
    background-image: -webkit-linear-gradient(right top, $my-brand-danger 0%,  $my-black-brand-danger 100%) !important

  .bg-warning.gradient, .btn-warning.gradient, .alert-warning.gradient
    background-image: -webkit-linear-gradient(right top, $my-brand-warning 0%,  $my-black-brand-warning 100%) !important

  .bg-success.gradient, .btn-success.gradient, .alert-success.gradient
    background-image: -webkit-linear-gradient(right top, $my-brand-success 0%,  $my-black-brand-success 100%) !important


  .jumbotron
    padding-top: 30px
    padding-bottom: 30px
    margin-top: 10px !important
    background-color: white

    .btn-primary
      font-family: benton-sans
    h2
      margin-bottom: 0

  span.icon svg
    width: $width-svg
    height: $heigth-svg
    fill: $my-black-brand-primary
    margin-top: 1px

  h2 svg
    width: $width-svg
    height: $heigth-svg
    margin-bottom: 4px

  span.icon
    margin: 0 auto
    padding: 4px
    top: 4px
    //background-color: $bg-icon
    background-color: $jumbotron-color
    border-bottom: solid 1px $bg-icon
    border-top: solid 1px $bg-icon
    border-left: solid 1px $bg-icon
    border-bottom-left-radius: 3px
    border-top-left-radius: .25rem
    border-color: $my-brand-primary

  .input-group-prepend
    height: 38px

  .page-header
    padding-bottom: 0px
    text-align: center
    h3
      font-size: 24px
      font-weight: 200
      line-height: 1.1
    .btn-group
      margin-bottom: 16px
      button
        width: calc(100%/3)
        max-width: calc(500px/3)
        &:first-child
          margin-left: auto
        &:last-child
          margin-right: auto

  @media all and (min-width: 1080px)
    .jumbotron
      max-width: 500px
      margin: 0 auto

    .navbar-nav

      .nav-item a
        padding-right: 10px
        padding-left: 10px

  .main-part
    width: 100%
    height: 900px
    padding-bottom: 100%
    padding-top: 10px
    background-color: #f1f5fe

    
  .inside-form
    max-width: 500px
    margin: 0 auto
    .btn
      width: 100%


  span.table-icon
    top: 40px !important
  .primary
    svg
      fill: $my-brand-primary
  .danger
    svg
      fill: $my-brand-danger
  
  .my-label
    //opacity: 0

  .my-form
    max-width: 500px
    margin: 0 auto
    .form-group
    .btn-details
      text-align: center
      margin-top: 10px
    input[type="submit"]
      margin-top: 19px
    .input-group
      margin-bottom: 5px
      .input-group-prepend
        padding: 0
        span
          width: 100%

  .btn-details
    .icon-nav svg
      fill: $my-black-gray



  .btn-group

    width: 100%
    label
      width: 50% !important
    input[type="radio"]
      display: none !important

    .btn-primary.active
      box-shadow: 0 0 0 3px rgba(0,123,255,.25) !important
      border-color: $my-black-brand-primary

  
  .details
    display: none


  input[type="submit"]
    width: 100%
    font-family: benton-sans
  
  .up, .disp_none
    display: none


  .body
    max-width: 500px
    margin: 0 auto
    .btn
      width: 100%

  .span-you
    margin-left: 30%

  .delete-transaction
    font-family: Sans-Serif
    font-weight: bold
    width: 100%
    &:hover
      span.icon-nav svg
        fill: white

    span.icon-nav svg
      fill: $my-brand-danger
      
      
  #table-last-tran
    max-width: 500px
    margin: 0 auto
    .time
      min-width: 120px
    .no-tran
      text-align: center

//.my-table
  //
  //  thead
  //    tr:first-child
  //      th:first-child
  //        border-bottom-left-radius: 6px
  //        border-top-left-radius: 6px
  //      th:last-child
  //        border-top-right-radius: 6px
  //        border-bottom-right-radius: 6px
  //  tbody
  //    td
  //      border: solid 1px black
  //    tr:last-child
  //      td:first-child
  //        border-bottom-left-radius: 6px
  //        border-top-left-radius: 6px
  //      td:last-child
  //        border-top-right-radius: 6px
  //        border-bottom-right-radius: 6px

