
$width-svg: 30px;
$heigth-svg: 30px;
$bg-icon: #ced4da;
$my-gray: rgba(0,0,0,.5);
$my-black-gray: rgba(0,0,0,.7);
$brand-text-success: lighten(#155724,20%);
$brand-text-danger: red;

body {
  //.help-alert {
  //  min-height: 70px;
  //}
  .alert {
    margin-top: 10px;
  }

  //.alert-success {
  //  background-color: transparent;
  //  border: solid 1.4px $brand-text-success;
  //}
  //
  //.alert-danger {
  //  background-color: transparent;
  //  border: solid 1.4px $brand-text-success;
  //}

  .you {
    color: #333;
    font-weight: bolder;
  }

  .no-hover:hover {
    color: $my-gray;
  }

  .icon-nav {

  }

  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;

    h2 {
      margin-bottom: 0;
    }
  }

  span.icon svg {
    width: $width-svg;
    height: $heigth-svg;
  }

  h2 svg {
    width: $width-svg;
    height: $heigth-svg;
    margin-bottom: 4px;
  }

  span.icon {
    margin: 0 auto;
    padding: 4px;
    top:4px;
    background-color: $bg-icon;
    border-bottom-left-radius: 3px;
    border-top-left-radius: .25rem;
  }

  .page-header {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;

  }

  @media all and(min-width: 1080px) {
    .jumbotron {
      max-width: 500px;
      margin: 0 auto;
    }

    .navbar-nav.nav-item a{
      padding-right: 10px;
      padding-left: 10px;
    }
  }

}