#before-load {
  position: fixed; /*фиксированное положение блока*/
  left: 0; /*положение элемента слева*/
  top: 0; /*положение элемента сверху*/
  right: 0; /*положение элемента справа*/
  bottom: 0; /*положение элемента снизу*/
  background: #fff; /*цвет заднего фона блока*/
  z-index: 1001; /*располагаем его над всеми элементами на странице*/
}
#before-load i {
  width: 70px; /*ширина gif-изображения*/
  height: 70px; /*высота gif-изображения*/
  position: absolute;
  left: 50%;
  top: 50%;
  background: image-url('img.gif') no-repeat 50% 50%; /*расположение (url) изображения gif и др. параметры*/
  margin: -35px 0 0 -35px;
}