@import "../e_base.sass"

table.tablesorter
  thead tr .header

    cursor: pointer
  tbody tr.odd td
    background-color: #F0F0F6
  thead tr
    .headerSortUp
      &:after
        content: "▼"
    .headerSortDown
      &:after
        content: "▲"




