<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand  off" href="#">Finance system</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link off" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link off" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle off" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item off" href="#">Action</a>
          <a class="dropdown-item off" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item off" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled off" href="#">Disabled</a>
      </li>
    </ul>
    <ul class="navbar-right navbar-nav">
      <li class="nav-item"><a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete">Sign Out</a></li>
      <li class="nav-item"><a class="nav-link" href="<%= new_user_session_path %>">Sign In</a></li>
      <li class="nav-item"><a class="nav-link" href="<%= new_user_registration_path %>">Registraion</a></li>

    </ul>
  </div>
</nav>
